body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://img.freepik.com/premium-vector/abstract-geometric-square-paper-white-background_51543-773.jpg);
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: gray;
    color: lightsalmon;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: beige;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 50px 0;
    text-align: center;
    color: rgb(125, 228, 228);
}

main .welcome {
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: lightsalmon;
}

main .container {
    color: rgb(125, 228, 228);
}

footer {
    background: gray;
    color: beige;
    text-align: center;
    padding: 30px 0;
}

footer p {
    margin: 0;
}