* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color: lightsalmon;
    background-image: url(https://img.freepik.com/premium-vector/abstract-geometric-square-paper-white-background_51543-773.jpg);
}

center h1 {
    margin: 20px;
    color: lightsalmon;
}

header nav {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

header nav p {
    display: inline;
    margin: 20px;
}

header nav a {
    color: beige;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.container {
    background-color: rgb(125, 228, 228);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 10px 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    background-color: lightsalmon;
    color: rgb(80, 149, 155);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    color: darkturquoise;
}

footer {
    background-color: darkgrey;
    padding: 20px;
    color: beige;
}

footer h2 {
    margin-bottom: 20px;
}

footer p {
    display: inline;
    margin: 10px;
}

footer a {
    color: beige;
    text-decoration: none;
}

#foot a:hover {
    text-decoration: underline;
}